.package-details {
  padding: 0.5rem 0.5rem 1rem 1rem;

  .label {
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.25rem;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .icon {
      $icon-size: 50px;

      margin-right: 0.5rem;
      flex-shrink: 0;
      width: $icon-size;
      height: $icon-size;

      .placeholder-icon {
        font-size: $icon-size;
      }
    }

    .name {
      font-size: 1.25rem;
    }
  }

  .version-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;

    .label {
      width: 54px;
    }

    .installed-version-display {
      $default-padding: 0.25rem;
      border: 1px solid var(--vscode-dropdown-border);
      padding: calc($default-padding + 1px) calc($default-padding + 2px);
    }

    .drop-down,
    .installed-version-display {
      flex-grow: 1;
      margin-right: 0.25rem;
    }

    .button {
      height: 27px;
      width: 70px;
    }
  }

  .description {
    margin-top: 1rem;
    .description-text {
      font-size: 0.9rem;
    }
  }

  .details {
    .details-row {
      margin-bottom: 0.5rem;
    }
  }
}

.no-package {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
