<div *ngIf="package" class="package-details">
  <div class="header">
    <div class="icon">
      <img *ngIf="package.iconUrl" [src]="package.iconUrl" />
      <fa-icon class="placeholder-icon" *ngIf="!package.iconUrl" icon="cubes"></fa-icon>
    </div>
    <div class="name">{{ package.id }}</div>
  </div>
  <div *ngIf="package.isInstalled" class="version-container">
    <span class="label">Installed:</span>
    <span class="drop-down installed-version-display">{{ package.installedVersion }}</span>
    <button class="button" (click)="uninstall()">Uninstall</button>
  </div>
  <div class="version-container">
    <span class="label">Version:</span>
    <select class="drop-down" [formControl]="selectedVersion">
      <option *ngFor="let version of package.versions" [ngValue]="version">{{ version.version }}</option>
    </select>
    <button class="button" (click)="install()">{{ package.isInstalled ? 'Update' : 'Install' }}</button>
  </div>
  <ng-container *ngIf="selectedVersionObject">
    <div class="description">
      <p class="label">Description</p>
      <p class="description-text">{{ selectedVersionObject.description }}</p>
    </div>
    <div class="details">
      <div class="details-row">
        <span class="label">Version:</span>
        <span class="content">{{ selectedVersionObject.version }}</span>
      </div>
      <div *ngIf="selectedVersionObject.authors" class="details-row">
        <span class="label">Author(s):</span>
        <span class="content">{{ selectedVersionObject.authors }}</span>
      </div>
      <div *ngIf="selectedVersionObject.licenseUrl" class="details-row">
        <span class="label">License:</span>
        <span class="content"
          ><a [href]="selectedVersionObject.licenseUrl">{{ selectedVersionObject.licenseUrl }}</a></span
        >
      </div>
      <div *ngIf="selectedVersionObject.projectUrl" class="details-row">
        <span class="label">Project url:</span>
        <span class="content"
          ><a [href]="selectedVersionObject.projectUrl">{{ selectedVersionObject.projectUrl }}</a></span
        >
      </div>
      <div *ngIf="selectedVersionObject.tags?.length" class="details-row">
        <span class="label">Tags:</span>
        <span class="content">{{ selectedVersionObject.tags }}</span>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="!package" class="no-package">No package selected.</div>
