<div *ngIf="package" class="package-row" [ngClass]="{ active: isActive }" (click)="click()">
  <input *ngIf="showSelectionCheckbox" class="select-checkbox" type="checkbox" [checked]="isSelected" (click)="select($event)" />
  <div class="icon">
    <img *ngIf="package.iconUrl" [src]="package.iconUrl" (error)="package.iconUrl = ''" />
    <fa-icon class="placeholder-icon" *ngIf="!package.iconUrl" icon="cubes"></fa-icon>
    <fa-stack *ngIf="package.isInstalled" class="status-icon" size="1x">
      <fa-icon icon="circle" stackItemSize="1x"></fa-icon>
      <fa-icon
        class="actual-icon"
        [ngClass]="{ outdated: package.isOutdated }"
        [icon]="package.isOutdated ? 'circle-up' : 'circle-check'"
        stackItemSize="1x"
      ></fa-icon>
    </fa-stack>
  </div>
  <div class="description-container">
    <div class="package-details">
      <span class="name">{{ package.id }}</span>
      <span
        *ngIf="package.verified"
        class="verified-icon"
        title="The ID prefix of this package has been reserved for the package owner on the current source."
        ><fa-icon icon="circle-check"></fa-icon
      ></span>
      <span *ngIf="package.authors" class="author">by {{ package.authors }}</span>
      <span *ngIf="package.totalDownloads" class="downloads"
        ><strong>{{ package.totalDownloads | shortNumber }}</strong> downloads</span
      >
    </div>
    <div>{{ package.description.length > 180 ? (package.description | slice: 0:177) + '...' : package.description }}</div>
  </div>
  <div class="versions">
    <span *ngIf="package.isOutdated">{{ package.installedVersion }}</span>
    <span>{{ package.version }}</span>
  </div>
  <div class="actions">
    <button *ngIf="!package.isInstalled" class="button secondary" (click)="install($event)">
      <fa-icon icon="arrow-down"></fa-icon>
    </button>
    <button *ngIf="package.isInstalled" class="button secondary" (click)="uninstall($event)">
      <fa-icon icon="xmark"></fa-icon>
    </button>
    <button *ngIf="package.isOutdated" class="button secondary" (click)="update($event)">
      <fa-icon icon="arrow-up"></fa-icon>
    </button>
  </div>
</div>
