$font-family-primary: 'Nunito', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$carolina-blue: #4d9de0ff;
$dark-slate-gray: #2b4141ff;
$jonquil: #f0c808ff;
$red-crayola: #ef3054ff;
$baby-powder: #fbfefbff;
