.vulnerabilities-container {
  .header {
    .warning-icon {
      color: var(--vscode-notificationsWarningIcon-foreground);
      margin-right: 0.25rem;
    }
  }
  .label {
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.25rem;
  }
  .explanation {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .vulnerability {
    margin-bottom: 0.25rem;
  }
}
