<ng-container *ngIf="showSelectCheckboxes">
  <div class="select-all">
    <span class="checkbox-with-label">
      <input type="checkbox" id="selectAll" [checked]="areAllSelected" (click)="selectAll($event)" />
      <label for="selectAll">Select all</label>
    </span>
    <button class="button" (click)="updateSelected()">Update</button>
  </div>
  <hr />
</ng-container>
<section *ngIf="packages && packages.length" class="package-list">
  <app-package-row
    *ngFor="let package of packages"
    [package]="package"
    [isActive]="package.id === currentSelectedPackageId"
    [isSelected]="selectionService.isSelected(package)"
    [showSelectionCheckbox]="showSelectCheckboxes"
    (changeSelect)="rowSelectChange(package, $event)"
  ></app-package-row>
</section>

<div *ngIf="packages && !packages.length" class="no-packages">No packages found for this query.</div>

<app-loading-spinner *ngIf="!packages"></app-loading-spinner>
