<div *ngIf="dependencyGroups" class="dependencies-container">
  <div class="label">Dependencies</div>
  <div *ngFor="let dependencyGroup of dependencyGroups" class="group">
    <div class="group-name">{{ dependencyGroup.targetFramework }}</div>
    <ng-container *ngIf="dependencyGroup.dependencies?.length; else noDependencies">
      <div *ngFor="let dependency of dependencyGroup.dependencies" class="dependency">
        <span class="id">{{ dependency.id }}</span>
        <span class="range">{{ dependency.range | versionRange }}</span>
      </div>
    </ng-container>
    <ng-template #noDependencies class="no-dependencies">
      <div class="dependency">No dependencies</div>
    </ng-template>
  </div>
</div>
